*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

body{
    background-image:url("background.jpg");
    background-repeat:no-repeat;     
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    justify-content:center;
    align-items:center;
    padding:25px;
    
}

img{
    display : block ;
    margin-left:auto;
    margin-right:auto;
}

.container{
      
      background-color:#FF149380;
      min-height:60vh;
      border-radius:15px;
      
}

.std{
    color:white;
    text-align:center;
    padding:12px;
    font-family: 'Montserrat', sans-serif;
    font-weight:700;
}

label{
    color: White ;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}


    a {
      text-decoration:solid;
      color: black;
      font-size: 14px;
      text-align:right;
    }
    form {
      background-color: light gray;
      width: 290px;
      margin: auto;
      padding: 28px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    input {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      border: 1px solid #ccc;
      border-radius: 5px;
      
    }
    
    input::placeholder {
  color: #000000; 
  opacity: 1;
}

    button {
      background-color:black;
      color: white;
      border: none;
      padding: 10px;
      width: 100%;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
      margin-top:10px;
      margin-bottom:10px;
    }


    a{
    display :block;
      text-decoration:solid;
      color: black;
      font-size: 14px;
      text-align:right;
      font-weight:bold;
    }
